/* :root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --font-weight-sm: 300;
  --font-weight-md: 400;
  --font-weight-lg: 700;
} */

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .btn {
  padding: 8px 12px;
  text-decoration: none;
  outline: none;
  box-shadow: 0 4px 14px;
  color: var(--white);
  background-image: linear-gradient(to right, var(--lime-gren) , var(--bright-cyan));

} */
